<!doctype html>
<html>
    <head>
        <title>Blogz</title>
        <link rel="stylesheet" href="../static/styles.css">
    </head>
<body>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/blog">All Posts</a>
            <a href="/newpost">Add a New Post</a>
            <a href='/logout'>Logout</a>
        </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category,message in messages %}
            <p class="{{category}}">{{message}}</p>
        {% endfor %}
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>