{% extends "base.html" %}

{% block content %}
<div class="loghead">
    <h1>Register to Blogz!</h1>
</div>

<form action="/register" method="post">
    <div class="logstyle">
        <div class="item1">
            <label for="name">Name</label>
        </div>
        <div class="item2">
            <input name="name" type="text">
        </div>
        <div class="item3">
            <label for="email">Email</label>
        </div>
        <div class="item4">
            <input name="email" type="email" value="{{ email }}">
        </div>
        <div class="item6">
            <label for="password">Password</label>
        </div>
        <div class="item7">
            <input name="password" type="password">
        </div>
        <div class="item8">
            <label for="verify">Verify Password</label>
        </div>
        <div class="item9">
            <input name="verify" type="password">
        </div>
        <div class="item10">
            <input type="submit" value="Register">
        </div>
    </div>
</form>
{% endblock %}